// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profilePhotoInput {
    margin: 0 auto;
}

.profile-display {
    margin-left: 450px;
    font-size: 200%;
}
