<h1>About</h1>
<p>Welcome to Schmack 2: The Re-Schmackening! This is a message board for current, third-floor, and dead residents of East Dorm at Harvey Mudd College to discuss whatever they want! Feel free to start a thread about whatever you want or comment on any thread that interests you. We only have one requirement: that you must enter an internym for every post!</p>

<p style = "font-weight: bold; text-decoration: underline"> Question and Answer </p>

<p>Q: Is this website moderated?</p>

<p>A: Yes! However, as minimally as possible. Talk about whatever you want, just don't be toxic to anyone.</p>

<p>Q: What can we talk about?</p>

<p>A: Anything! Just be a reasonable human being.</p>

<p>Q: Why do we have to have an internym?</p>

<p>A: Because this wouldn't be an East Dorm Chat without pedantic rules.</p>

<p>Q: Who can sign up?</p>

<p>A: Anyone! Although most of the discussion will probably pertain to Harvey Mudd College and East Dorm.</p>

<p style = "font-weight: bold; text-decoration: underline">Authors</p>

<p>Evan "I wrote this page so I put myself first" Amason</p>
<p>Jake "First name actually Marvin" Palanker</p>
<p>Sara "At the time of writing, also working on making the other pages exist" McAllister</p>


