<h1>Schmack Threads</h1>

<br />
 
<table>
  <tr>
    <th colspan="1"></th>
  </tr>
  <% @groups.each do |group| %>
    <tr>
      <td>
        <div class = "card">
          <div class = "container">
            <%= link_to group.title, group_path(group) %>
          </div>
        </div>
        <br />
      </td>
    </tr>

  <% end %>
</table>

<br />
<br />

<%- if current_user %>
  <%= link_to 'Make a New Thread!', new_group_path %>
<% end %>
